# General configs
SUBTENSOR_NETWORK="ws://localhost:9944" # or your chosen node
DEVICE_OVERRIDE="cpu" # None to run on GPU

# GitHub authentication
GITHUB_TOKEN="your_personal_access_token"

# GitHub configs - FOR MINERS
GITHUB_REPO_NAME="repo-name"
GITHUB_REPO_BRANCH="repo-branch"
GITHUB_REPO_OWNER="repo-owner"
GITHUB_REPO_PATH="" # path within repo or ""

# For validators
VALIDATOR_API_KEY="your_api_key"
AUTO_UPDATE="0" # Set to "1" to enable auto-updates
